<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<mapping resource="com/jege/hibernate/y_second_level_cache/ProductType.hbm.xml" />
		<mapping resource="com/jege/hibernate/y_second_level_cache/Product.hbm.xml" />
		<!-- 类的二级缓存 -->
		<class-cache class="com.jege.hibernate.y_second_level_cache.Product" usage="read-write" />
		<class-cache class="com.jege.hibernate.y_second_level_cache.ProductType" usage="read-write" />
		<!-- 类的集合二级缓存 -->
		<collection-cache collection="com.jege.hibernate.y_second_level_cache.ProductType.products" usage="read-write" />
	</session-factory>
</hibernate-configuration>